.container {
    display: flex;
    margin: 50px auto;
    width: 1035px;
}

.questions {
    align-items: center;
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
    justify-items: center;
    width: 815px;
}
     
.question {     
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    height: 150px;
    justify-content: center;
    perspective: 1000px;
    width: 150px;
}

.question-number {
    background-color: #0AB7C9;
    color: #fff;
    font-size: 5em;
}

.question-text {
    background-color: #aaa;
    color: #333;
}

.card-front p,
.card-back p {
    padding: 0 10px;
    text-align: center;
}

.card-inner {
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    width: 100%;
}

.card-front,
.card-back {
    align-items: center;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

.flipped .card-inner {
    transform: rotateY(180deg);
}

.player-color {
    border: 1px solid #999;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}

.color-8650F5,
.card-8650F5 {
    background-color: #8650f5;
    color: #eee;
}

.color-040F0F,
.card-040F0F {
    background-color: #040F0F;
    color: #eee;
}

.color-24D6E0,
.card-24D6E0 {
    background-color: #24d6e0;
    color: #eee;
}

.color-773344,
.card-773344 {
    background-color: #773344;
    color: #eee;
}

.color-816C61,
.card-816C61 {
    background-color: #816C61;
    color: #eee;
}

.color-2A2C24,
.card-2A2C24 {
    background-color: #2A2C24;
    color: #eee;
}

.color-57737A,
.card-57737A {
    background-color: #57737a;
    color: #eee;
}

.color-058C42,
.card-058C42 {
    background-color: #058c42;
    color: #eee;
}

.color-16DB65,
.card-16DB65 {
    background-color: #16DB65;
    color: #eee;
}

.color-561F37,
.card-561F37 {
    background-color: #561F37;
    color: #eee;
}

.players {
    background-color: #eee;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
    width: 200px;
}

.players p {
    border-bottom: 1px solid #333;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.player-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.player-list li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.player-list li.active:after {
    border: solid black;
    border-width: 0 3px 3px 0;
    content: "";
    display: inline-block;
    margin-left: 15px;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

input {
    border: 1px solid #999;
    border-radius: 4px;
    padding: 5px;
}

input:focus {
    background-color: #fff;
    border-color: #333;
    outline: none;
}

h3 {
    margin-top: 0;
}

button {
    background-color: #0AB7C9;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 100%;
    padding: 8px;
}